.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.711000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.973000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.922000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.723000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-11.027864px;}
._6{margin-left:-7.945200px;}
._5{margin-left:-4.314576px;}
._2{margin-left:-1.670856px;}
._4{width:1.424000px;}
._0{width:5.900464px;}
._1{width:7.055152px;}
.fc3{color:rgb(166,206,56);}
.fc2{color:rgb(35,31,32);}
.fc1{color:rgb(0,77,40);}
.fc0{color:rgb(0,78,42);}
.fs0{font-size:25.616000px;}
.fs1{font-size:27.048000px;}
.fs7{font-size:40.000000px;}
.fs6{font-size:52.000000px;}
.fs4{font-size:72.000000px;}
.fs5{font-size:84.672000px;}
.fs3{font-size:128.304000px;}
.fs2{font-size:195.340000px;}
.y0{bottom:0.500000px;}
.y10{bottom:63.315700px;}
.yf{bottom:75.373400px;}
.y5{bottom:77.678100px;}
.y4{bottom:84.371500px;}
.y3{bottom:91.064700px;}
.y2{bottom:97.758100px;}
.ye{bottom:156.628300px;}
.yc{bottom:176.517000px;}
.yb{bottom:192.363500px;}
.ya{bottom:215.558000px;}
.y9{bottom:241.362100px;}
.yd{bottom:268.129400px;}
.y8{bottom:370.820100px;}
.y7{bottom:403.121400px;}
.y6{bottom:441.728200px;}
.y1{bottom:464.601200px;}
.h2{height:17.905584px;}
.h3{height:19.312272px;}
.h9{height:27.680000px;}
.h8{height:39.468000px;}
.h6{height:49.824000px;}
.h7{height:60.540480px;}
.h5{height:97.382736px;}
.h4{height:148.263060px;}
.h1{height:595.500000px;}
.h0{height:597.000300px;}
.w1{width:843.500000px;}
.w0{width:845.049100px;}
.x0{left:1.000000px;}
.x1{left:78.777900px;}
.x8{left:234.206000px;}
.x6{left:236.542300px;}
.x3{left:258.350400px;}
.x9{left:272.724400px;}
.x4{left:304.096200px;}
.x5{left:313.008600px;}
.x7{left:315.860000px;}
.xb{left:317.457900px;}
.xd{left:342.327300px;}
.xa{left:373.915500px;}
.xc{left:379.564900px;}
.x2{left:601.019400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-14.703819pt;}
._6{margin-left:-10.593600pt;}
._5{margin-left:-5.752768pt;}
._2{margin-left:-2.227808pt;}
._4{width:1.898667pt;}
._0{width:7.867285pt;}
._1{width:9.406869pt;}
.fs0{font-size:34.154667pt;}
.fs1{font-size:36.064000pt;}
.fs7{font-size:53.333333pt;}
.fs6{font-size:69.333333pt;}
.fs4{font-size:96.000000pt;}
.fs5{font-size:112.896000pt;}
.fs3{font-size:171.072000pt;}
.fs2{font-size:260.453333pt;}
.y0{bottom:0.666667pt;}
.y10{bottom:84.420933pt;}
.yf{bottom:100.497867pt;}
.y5{bottom:103.570800pt;}
.y4{bottom:112.495333pt;}
.y3{bottom:121.419600pt;}
.y2{bottom:130.344133pt;}
.ye{bottom:208.837733pt;}
.yc{bottom:235.356000pt;}
.yb{bottom:256.484667pt;}
.ya{bottom:287.410667pt;}
.y9{bottom:321.816133pt;}
.yd{bottom:357.505867pt;}
.y8{bottom:494.426800pt;}
.y7{bottom:537.495200pt;}
.y6{bottom:588.970933pt;}
.y1{bottom:619.468267pt;}
.h2{height:23.874112pt;}
.h3{height:25.749696pt;}
.h9{height:36.906667pt;}
.h8{height:52.624000pt;}
.h6{height:66.432000pt;}
.h7{height:80.720640pt;}
.h5{height:129.843648pt;}
.h4{height:197.684080pt;}
.h1{height:794.000000pt;}
.h0{height:796.000400pt;}
.w1{width:1124.666667pt;}
.w0{width:1126.732133pt;}
.x0{left:1.333333pt;}
.x1{left:105.037200pt;}
.x8{left:312.274667pt;}
.x6{left:315.389733pt;}
.x3{left:344.467200pt;}
.x9{left:363.632533pt;}
.x4{left:405.461600pt;}
.x5{left:417.344800pt;}
.x7{left:421.146667pt;}
.xb{left:423.277200pt;}
.xd{left:456.436400pt;}
.xa{left:498.554000pt;}
.xc{left:506.086533pt;}
.x2{left:801.359200pt;}
}
